snippet rspec "Initial setup of RSpec spec" b
# frozen_string_literal: true

require 'rails_helper'

RSpec.describe $1 do
end
endsnippet

snippet froz "Frozen string literal" b
# frozen_string_literal: true


endsnippet

snippet todo "Ruby TODO" b
# TODO: $1 [Dawid, `date -I`]
endsnippet

snippet pry "Insert pry binding"
binding.pry

endsnippet
