snippet froz "Frozen string literal" b
# frozen_string_literal: true


endsnippet

snippet todo "Ruby TODO" b
# TODO: $1 [Dawid, `date -I`]
endsnippet

snippet pry "Insert pry binding"
require 'pry'; binding.pry
endsnippet

snippet attr "Dry struct attribute"
attribute :$1, Types::Strict::String
$0
endsnippet
